@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;

    font-family: "Arvo", serif;

    color: var(--txt-light);
}

:root{
    --bg-link: hsl(210, 92%, 20%);
    --border-color: hsl(210, 83%, 66%);
    --yellow: hsl(52, 96%, 67%);
    --bx-shadow: 0 0.3rem var(--yellow);
    --bg-dark: hsl(240, 8%, 5%);
    --txt-light: hsl(0, 0%, 88%);

    --btn-primary: hsl(298, 98%, 18%);
    --btn-delete: hsl(0, 96%, 33%);
}

header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    ul{
        display: flex;
        list-style: none;
        gap: 1rem;
    }

    a{
        &:hover{
            color: var(--yellow);
        }
    }

    margin: 0 0 2rem 0;

    background-color: var(--btn-primary);
}


body{
    height: 100vh;
    width: 100vw;
    max-width: 100%;

    background-color: var(--bg-dark);
    color: var(--txt-light);

    display: flex;
    flex-direction: column;
    align-items: center;

    /* padding: 2rem; */

    .btn-delete{
        padding: 0.3rem 0.3rem;
        background-color: var(--btn-delete);
        color: var(--txt-light);

        border: 1px solid var(--txt-light);

        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover{
            background-color: var(--txt-light);
            color: var(--btn-delete);

            border: 1px solid var(--txt-light);
    
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    width: 60%;

    .form-field{
        display: flex;
        flex-direction: column;
        align-items: start;

        gap: 0.5rem;

        width: 100%;
        input{
            width: 100%;

            padding: 0.5rem;

            color: var(--bg-dark);
        }
    }

    button{
        padding: 0.5rem 0.5rem;
        background-color: var(--btn-primary);
        color: var(--txt-light);

        border: 1px solid var(--txt-light);

        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover{
            background-color: var(--txt-light);
            color: var(--btn-primary);

            border: 1px solid var(--txt-light);
    
        }
    }
}

#links-container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 1rem;
}

.link {
    padding: 0.5rem;
 
    display: flex;
    flex-direction: column;
    align-items: start;

    background-color: var(--bg-link);

    transition: all 1s cubic-bezier(0.33, 1, 0.68, 1);

    border-left: 0.2rem solid var(--border-color);

    &:hover{
        box-shadow: var(--bx-shadow);
    }

    a:first-child{
        font-size: 1.4rem;
        color: var(--yellow);
    }

    
}